@model WebHotel.Models.News

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/admin/Views/Shared/Mylayout.cshtml";
}
<div class="container-fluid py-4">
    <div class="row">
        <div class="col-lg-12">
            <div class="card mb-4" style="border: 3px solid pink">
                <div class="card-header pb-0" style="background-color: pink">
                    <h6>Chi tiết Tin tức</h6>
                </div>
                <div class="form-main" style="margin-left:10%">
                    <div class="form-group row">
                        <div class="col-md-2">
                            @Html.DisplayNameFor(model => model.name)

                        </div>
                        <div class="col-md-9">
                            @Html.DisplayFor(model => model.name)
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-2">
                            @Html.DisplayNameFor(model => model.img)

                        </div>
                        <div class="col-md-9">
                            <img src="~/Upload/img/@Model.img" width="150px" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-2">
                            @Html.DisplayNameFor(model => model.description)

                        </div>
                        <div class="col-md-9">
                            @Html.Raw(Model.description)
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-2">
                            @Html.DisplayNameFor(model => model.detail)
                        </div>
                        <div class="col-md-9">
                            @Html.DisplayFor(model => model.detail)
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-2">
                            @Html.DisplayNameFor(model => model.meta)
                        </div>
                        <div class="col-md-9">
                            @Html.DisplayFor(model => model.meta)
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-2">
                            @Html.DisplayNameFor(model => model.hide)
                        </div>
                        <div class="col-md-9">
                            @(Model.hide.GetValueOrDefault(false) ? "Hiển thị" : "Ẩn")
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-2">
                            @Html.DisplayNameFor(model => model.order)
                        </div>
                        <div class="col-md-9">
                            @Html.DisplayFor(model => model.order)
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-2">
                            @Html.DisplayNameFor(model => model.datebegin)
                        </div>
                        <div class="col-md-9">
                            @(Model.datebegin.HasValue ? Model.datebegin.Value.ToString("dd/MM/yyyy") : "")
                        </div>
                    </div>
                </div>
                <p style="margin-left:30px">
                    @Html.ActionLink("Cập nhật", "Edit", new { id = Model.id }) |
                    @Html.ActionLink("Quay lại", "Index")
                </p>
            </div>
        </div>
    </div>
</div>
<script>
        window.onload = active();
        function active() {

            if (document.getElementById("nav-news").className == "nav-link") {
                document.getElementById("nav-news").className = "nav-link active";
            }
        }

</script>
